<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>แบบฟอร์มบันทึกข้อมูล</title>
    <link
      rel="stylesheet"
      href="css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="js/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="js/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include("navbar") %>
    <div class="card">
      <div class="leftside">
        <img class="imagenavber" src="images/home/logo.png" width="80%" />
      </div>
      <div class="rightside">
        <form
          class="form-horizontal"
          method="post"
          action="/insert"
          enctype="multipart/form-data"
        >
          <h1>
            ADD<samp><b>ITEM</b></samp>
          </h1>
          <h4>Product add information</h4>
          <a href="/logout">logout</a>
          <br />
          <p>Name:</p>
          <input type="text" class="inputbox" name="name" required />
          <p>Pice:</p>
          <input
            type="number"
            class="inputbox"
            name="price"
            id="card_number"
            required
          />
          <p>Image:</p>
          <input type="file" class="inputbox" name="image" />

          <p>Details:</p>
          <textarea
            class="inputbox"
            cols="30"
            rows="4"
            name="description"
          ></textarea>

          <p></p>
          <button type="submit" class="button">CheckOut</button>
        </form>
      </div>
    </div>

    <style>
      /* #F7B030   #f49740*/
      .card {
        width: 70%;
        margin: auto;
        background: white;
        position: center;
        align-self: center;
        top: 0rem;
        border-radius: 1.5rem;
        box-shadow: 4px 3px 20px #3535358c;
        display: flex;
        flex-direction: row;
      }
      samp {
        color: #f7b030;
      }
      .leftside {
        background: #313131;
        width: 25rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
      }

      .product {
        object-fit: cover;
        width: 20em;
        height: 20em;
        border-radius: 100%;
      }

      .rightside {
        background-color: #ffffff;
        width: 35rem;
        border-bottom-right-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        padding: 1rem 2rem 3rem 3rem;
      }

      p {
        display: block;
        font-size: 1.1rem;
        font-weight: 400;
        margin: 0.8rem 0;
      }

      .inputbox {
        color: #030303;
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-bottom: 1.5px solid #ccc;
        margin-bottom: 1rem;
        border-radius: 0.3rem;
        font-family: "Roboto", sans-serif;
        color: #615a5a;
        font-size: 1.1rem;
        font-weight: 500;
        outline: none;
      }

      .expcvv {
        display: flex;
        justify-content: space-between;
        padding-top: 0.6rem;
      }

      .expcvv_text {
        padding-right: 1rem;
      }
      .expcvv_text2 {
        padding: 0 1rem;
      }

      .button {
        background: linear-gradient(135deg, #f7b030 0%, #f49740 100%);
        padding: 15px;
        border: none;
        border-radius: 50px;
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        margin-top: 10px;
        width: 100%;
        letter-spacing: 0.11rem;
        outline: none;
      }

      .button:hover {
        transform: scale(1.05) translateY(-3px);
        box-shadow: 3px 3px 6px #38373785;
      }

      @media only screen and (max-width: 1000px) {
        .card {
          flex-direction: column;
          width: auto;
        }

        .leftside {
          width: 100%;
          border-top-right-radius: 0;
          border-bottom-left-radius: 0;
          border-top-right-radius: 0;
          border-radius: 0;
        }

        .rightside {
          width: auto;
          border-bottom-left-radius: 1.5rem;
          padding: 0.5rem 3rem 3rem 2rem;
          border-radius: 0;
        }
      }
    </style>
  </body>
</html>
