<nav class="navbar navbar-expand-md navbar-light bg-red">
  <a href="/" class="navbar-brand">
    <img class="imagenavber" src="images/home/logo2.png" width="200px" />
  </a>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a
        class="
          nav-link
          text-dark text-uppercase
          font-weight-bold
          px-3
          dropdown-toggle
        "
        href=""
        data-toggle="dropdown"
        >Admin</a
      >
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/add-product">Add product </a>
        <a class="dropdown-item" href="/manage">Product management </a>
      </div>
    </li>
  </ul>
</nav>
